
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=3322e204-1174-4b68-bb52-554af289bc26");

@font-face{
font-family:"UniversLTW02-47LightCn";
src:url("../font/4542df8c-aa98-4662-9397-f25621c02ff1.eot?#iefix");
src:url("../font/4542df8c-aa98-4662-9397-f25621c02ff1.eot?#iefix") format("eot"),url("../font/9b61b7b8-6c84-4e84-b8aa-4a627a721b60.woff") format("woff"),url("../font/3dde9f5d-4017-494c-a6d7-764d248c0292.ttf") format("truetype"),url("../font/de990cca-297f-443d-a252-319a8a19ce04.svg#de990cca-297f-443d-a252-319a8a19ce04") format("svg");
}
@font-face{
font-family:"UniversLTW02-57Condense 726300";
src:url("../font/adc492fa-2e18-46e7-a334-19977a077ec2.eot?#iefix");
src:url("../font/adc492fa-2e18-46e7-a334-19977a077ec2.eot?#iefix") format("eot"),url("../font/14f0370a-8385-437e-b5b8-5cb89e20e2ff.woff") format("woff"),url("../font/8c1d24ab-e7f8-4c29-a419-f87180fdf410.ttf") format("truetype"),url("../font/9baaf87b-982d-45c0-9518-8f5aec7c1292.svg#9baaf87b-982d-45c0-9518-8f5aec7c1292") format("svg");
}
@font-face{
font-family:"UniversLTW02-67BoldCn";
src:url("../font/c1f2f059-579b-465a-a13f-d70acd6c6212.eot?#iefix");
src:url("../font/c1f2f059-579b-465a-a13f-d70acd6c6212.eot?#iefix") format("eot"),url("../font/b2388651-dd56-4c8e-8455-c55318f6a734.woff") format("woff"),url("../font/346ec69d-90a7-4fef-a216-1a0dafbd3798.ttf") format("truetype"),url("../font/d39b0ff2-cca2-4288-8f6a-c730f44feb81.svg#d39b0ff2-cca2-4288-8f6a-c730f44feb81") format("svg");
}
