
/* Toolbar start */

.plone-toolbar{
    font-size: 12px;
    position: relative;
    z-index: 10000;
}

.plone-toolbar ul{
   margin: 0px;
}

.plone-toolbar .hiddenStructure{
    display:none;
}

.plone-toolbar .contentViews{
    background-color: #232323;
    background-image: linear-gradient(to bottom, #232323, #2D2D2D);
    padding:0 0 0 13px;
    border-top:1px solid #232323;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.plone-toolbar .contentActions{
    background-color: #CECECE;
    background-image: linear-gradient(to bottom, #CECECE, #CECECE);
    border-bottom: 1px solid #BABABA;
}

.plone-toolbar .contentActions #contentActionMenus{
    margin-left: 14px;
}

.plone-toolbar .contentViews ul{
    padding:0;
    margin:0;
}

.plone-toolbar .contentViews li{
    margin:0;
    padding:0;
}

.plone-toolbar .contentViews .selected a {
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F3F3F3, #CECECE);
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    border: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin:0px;
}

.plone-toolbar .contentViews a {
    border: 0;
    color: #DFDFDF;
    text-shadow: 0 1px 0 #000000;
    padding: 10px 15px;
    display: inline-block;
}

.plone-toolbar .contentViews li a:hover {
    background-color: transparent;
    color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    background-color: #F3F3F3;
    background-image: linear-gradient(to bottom, #F3F3F3, #CECECE);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.plone-toolbar li{
    line-height: normal;
}

.plone-toolbar .contentViews li a{
    margin:0;
}

.plone-toolbar .contentActions li {
    border-left: 0;
    float: left;
    z-index: 1002;
}

.contentActions ul, .contentActions li {
    margin: 0;
    list-style: none;
    list-style-image: none;
    color: Black;
    text-align: left;
    line-height: 1.6em;
}

.plone-toolbar .contentActions a {
    padding: 6px 13px 4px 13px;
    color: #333333;
    /*text-shadow: 0 1px 0 #DDDDDD;*/
    margin-right: 0px;
    display: block;
}

.actionMenu.activated .actionMenuContent{
    display: table !important;
    border-collapse: collapse;
    border-spacing: 0;
}

.actionMenu .actionMenuContent {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1001;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border: 1px solid #b7b7b7;
}
.actionMenu .actionMenuContent ul {
    border: 0;
    font-size: 12px;
}
.actionMenu .actionMenuContent .actionSeparator a {
    border-top: 0;
    padding-top: 0.2em;
}
.actionMenu .actionMenuContent li:first-child a{
margin: 2px 0 0 0;
}

.actionMenu .actionMenuContent li{

}

.actionMenu .actionMenuContent li div{
background-color: #dedede;
color: #a1a1a1a;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
}

.actionMenu .actionMenuContent li .link-overlay{
    padding-left: 11px;
}

#plone-contentmenu-actions .actionMenuContent li .link-overlay{

}

.actionMenu .actionMenuContent li div:hover{
    background-color: #dedede;
    color: #a1a1a1a;
}

.actionMenu .actionMenuContent li:hover{
    background-color: #2162A0 !important;
}

.actionMenu .actionMenuContent li a:hover{
    background-color: transparent !important;
    text-shadow: none;
    color: #FFFFFF;
}

.plone-toolbar .contentActions a:hover {
    background-color: #b4b4b4;
    text-decoration: none;
}

.plone-toolbar .contentActions{
    height: 30px;
    border-left: 0;
    border-right: 0;
}

.arrowDownAlternative{
    display: none;
}

.actionMenu{
    position: relative;
    margin: 0;
    padding: 0;
}

.actionMenu .actionMenuHeader{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.actionMenu .actionMenuContent {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 30px;
    z-index: 1001;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    border: 1px solid #b7b7b7;
}

.actionMenu .actionMenuContent ul {
    border: 0;
}

.actionMenu .actionMenuContent .actionSeparator{
}

.actionMenu .actionMenuContent .actionSeparator a {
    border-top: 0;
    padding-top: 0.2em;
}

.actionMenu .actionMenuContent li a:hover,
.actionMenuContent{
    background-color: #2162A0;
    text-shadow: none;
}

.plone-toolbar .contentActions ul li dl dd ul li {
    clear: both;
    min-width: 200px;
}

.actionMenu.activated{
    background-color: #b4b4b4;
}

.plone-toolbar .actionMenuSelected{
    background-color: #2162A0 !important;
    color: #FFFFFF !important;
}

.actionMenu .actionMenuContent li a {
    display: block !important;
    margin: 0;
    padding: 8px 11px 8px 10px;
    white-space: nowrap;
    border-bottom: 1px solid #EEEEEE;
}

.plone-toolbar .icons-on .contenttype-document,
.plone-toolbar .icons-on .contenttype-event,
.plone-toolbar .icons-on .contenttype-folder,
.plone-toolbar .icons-on .contenttype-link,
.plone-toolbar .icons-on .contenttype-news-item,
.plone-toolbar .icons-on .contenttype-plone-site,
.plone-toolbar .icons-on .contenttype-collection,
.plone-toolbar .icons-on .contenttype-topic,
.plone-toolbar .icons-on #plone-contentmenu-factories .contenttype-file,
.plone-toolbar .icons-on #plone-contentmenu-factories .contenttype-image{
    padding-left: 30px !important;
}

.actionMenu .actionMenuContent li .contenttype-image {
    background-position: 10px -853px !important;
}

.actionMenu .actionMenuContent li .contenttype-collection {
    background-position: 10px -1717px !important;
}

.actionMenu .actionMenuContent li .contenttype-news-item {
    background-position: 10px -1285px !important;
}

.actionMenu .actionMenuContent li .contenttype-event {
    background-position: 10px -204px !important;
}

.actionMenu .actionMenuContent li .contenttype-link {
    background-position: 10px -1068px !important;
}

.actionMenu .actionMenuContent li .contenttype-file {
    background-position: 10px -421px !important;
}

.actionMenu .actionMenuContent li .contenttype-folder {
    background-position: 10px -637px !important;
}

.actionMenu .actionMenuContent li .contenttype-document {
    background-position: 10px 12px !important;
}

.actionMenu .actionMenuContent .actionSeparator a {
    border-top: 0 none;
    padding-top: 8px;
}

.actionMenu .actionMenuContent li:first-child a{
    margin: 2px 0 0 0;
}

.contentViews li, .contentActions li {
    display: inline;
}

.plone-toolbar #content-views{
    margin-bottom: 0;
    margin-left: 0px;
    float: left;
}

.subMenuTitle{

}

/* Toolbar end */

/* Content tabbing start */

#content .formTabs ul{
    list-style-type: none;
}

#content .formTabs {
    *zoom: 1;
    margin-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    border-bottom: 1px solid #ccc;
}

.formTabs:before,
.formTabs:after {
    display: table;
    line-height: 0;
    content: "";
}

.formTabs:after {
    clear: both;
}

#content fieldset{
    border-color: #cccccc;
}

#content .formTabs li{
    float: left;
    margin-bottom: 0px;
}

.plone-toolbar .nav-tabs > li > a,
.plone-toolbar .nav-pills > li > a {
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;
}

.plone-toolbar .nav > li > a {
display: block;
}

#content .formTabs li a{
padding-right: 12px;
padding-left: 12px;
margin-right: 2px;
line-height: 14px;

display: block;

padding-top: 8px;
padding-bottom: 8px;
line-height: 20px;
border: 1px solid transparent;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;

color: #555555;
cursor: default;
background-color: #ffffff;
border: 1px solid #ddd;
border-bottom-color: transparent;
}

#content .formTabs li a{
border-top-color: transparent;
border-right-color: transparent;
border-left-color: transparent;
border-bottom-color: transparent;
cursor: pointer;
}

#content .formTabs .selected,
#content .formTabs a:hover{
border-top-color: #cccccc;
border-right-color: #cccccc;
border-left-color:#cccccc;
}

#content .formTabs .selected:hover{
cursor: default;
}

/* Content tabbing end */

/* Global actions bar start */

#globalactions{
    background-color: #232323;
    background-image: linear-gradient(to bottom, #232323, #2D2D2D);
    padding: 0 0 0 13px;
    border-top: 1px solid #232323;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.plone-toolbar #globalactions{
}

#content-views{

}

#globalactions div div{
    display: inline-block;
    margin-left: 5px;
    white-space: nowrap;
}

#globalactions .globalactions-body{
    text-align: right;
    padding-right: 20px;
}

#globalactions div a{
    color: #DFDFDF;
    text-shadow: 0 1px 0 #000000;
    padding: 9px 5px 0px;
    display: inline-block;
}

#globalactions div a:hover{
    color: #FFFFFF;
}

#globalactions div select{
    padding: 2px;
}

#globalactions span{
    display: none;
}

#globalactions .quicklinks,
#globalactions .quicklinks:focus{
    border: 0px;
    width: 120px;
    margin-top: -3px;
    margin-bottom: 0px;
}

#globalactions .nav .dropdown-menu{
    text-align: left;
}

#globalactions .nav .dropdown-menu > li > a{
    display: block;
    text-shadow: none;
    color: #333333;
    padding: 3px 20px;
}

#globalactions .nav .dropdown-menu > li > a:hover{
    color: #FFFFFF;
}

#globalactions .dropdown-toggle:focus,
#globalactions .dropdown-toggle:hover {
text-decoration:underline;
background-color:transparent;
}

#globalactions .dropdown-toggle .caret {
border-bottom-color: #FFFFFF;
border-top-color: #FFFFFF;
opacity: 1;
}